{% extends '../base.html'%}
{% block title %} Atrax {% endblock%}

{% block content %}
{% if request.user.is_authenticated %}
<div class="home-bg">
    <div class="col-md-11 col-sm-12 col-xs-12">
        <div class="col-md-offset-1">
            <div class="home-container">
                <form class="search-bar" method="post" action="." autocomplete="off">
                    {% csrf_token %}
                    <input type="text" class="form-control search" name="search_input" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </form>
                <a class="btn-contribute" href="{% url 'add_learning' %}">
                    <button> Contribute </button>
                </a>
                <div class="row page-design">
                    {% if items.has_other_pages %}
                    <ul class="pagination">
                        {% if items.has_previous %}
                        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in items.paginator.page_range %}
                        {% if items.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% if items.has_next %}
                        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                        {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
                <div class="row">
                    {% for item in items %}
                    <div class="col-md-4 col-sm-6 col-xs-12" style="min-height: 270px; margin-bottom: 50px;">
                        <div class="material-cover">Title : <strong>{{ item.original_title }}</strong></div>
                        <div class="details-container">
                            <a class="btn-view" href="{% url 'contribution' item.id %}">
                                <button>View</button>
                            </a> 
                            <h5> Author: <strong>{{ item.author }}</strong></h5>
                            <h5> Category: <strong>{{ item.category }}</strong></h5>
                            <h5> Uploader: <strong>{{ item.user.get_full_name }}</strong></h5>
                            <h5> Date Uploaded: <strong>{{ item.date_uploaded }}</strong></h5>
                           <!--  <h5> Tags:<strong>{% for tag in tags %}<button>{{ tag }}</button>{% endfor %}</strong></h5> -->
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</div>
{% else %}
<div class="landing-bg">
    <div class="col-md-6 col-sm-12 col-xs-12 "> 
        <div class="col-md-offset-2">
            <div class="landing-atrax">
                Atrax
            </div>
            <div class="landing-tagline">
                Katabang sa Sinugbuanong magtutudlo. 
            </div>
            <div class="">
                <center>
                    <a href="{% url 'register' %}">
                        <button class="btn-started"> Get Started </button>
                    </a>
                </center>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 ">
        <div class="login-form-container">
            <h3> Login </h3>
            {% if error_messages %}
            <p>{{ error_messages }}</p>
            {% endif%}
            {{ form.non_field_errors }}
            <form method="POST" action="." autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Sign In</button>
            </form>
            <div class="form-footer">
                Don't have an account? <a href="{% url 'register' %}"><strong>Register now.</strong></a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
{% endblock %}