//Colors
$white: #fff;
$pale-grey-six: #e4e4eb;
$dim-gray: #676767;
$slate-grey: #273644;
$pale-grey: #f9f9f9;
$pale-grey-two: #dedede;
$grey-two: #394a5a;
$red: #FF0000;
$brown: #292010;

//Montserrat
$Montserrat-Bold: 'Montserrat-Bold';
$Montserrat-Light: 'Montserrat-Light';
$Montserrat-LightItalic: 'Montserrat-LightItalic';
$Montserrat-Medium: 'Montserrat-Medium';
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-SemiBold: 'Montserrat-SemiBold';

//Open-Sans
$OpenSans-Bold: 'OpenSans-Bold';
$OpenSans-BoldItalic: 'OpenSans-BoldItalic';
$OpenSans-ExtraBold: 'OpenSans-ExtraBold';
$OpenSans-ExtraBoldItalic: 'OpenSans-ExtraBoldItalic';
$OpenSans-Italic: 'OpenSans-Italic';
$OpenSans-Light: 'OpenSans-Light';
$OpenSans-LightItalic: 'OpenSans-LightItalic';
$OpenSans-Regular: 'OpenSans-Regular';
$OpenSans-Semibold: 'OpenSans-Semibold';
$OpenSans-SemiboldItalic: 'OpenSans-SemiboldItalic';